@media screen and (max-width: 420px) {
    *{
        margin: 0;
        padding: 0;
    }

    .row{
        width: 100%;
        margin: 0;
        padding: 5px 0;
    }

    #lezioni .row>.left,
    #lezioni .row>.right,
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right,
    #why .row>.first,
    #why .row>.second,
    #why .row>.third{
        float: none;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .row h1{
        margin-bottom: 10px;
    }

    img{
        width: 80px;
        height: 80px;
        object-fit: contain;
        object-position: center;
    }

    html{
        font-size: 14px;
    }

    #lezioni, #why{
        background-color: #F2F2CD;
    }
}