@media screen and (max-width: 420px) {
    .row{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #lezioni .row>.left,
    #lezioni .row>.right,
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right,
    #why .row>.first,
    #why .row>.second,
    #why .row>.third{
        float: none;
        width: 100%;
    }
    
    img{
        width: 110px;
        height: 80px;
    }

    html{
        font-size: 14px;
    }

    #lezioni, #why{
        background-color: #F2F2CD;
    }
}